.container {
    display: flex;
    align-items: baseline;
    margin-bottom: 25px;
}

.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19.2px;
  line-height: 24px;
  /* identical to box height, or 125% */

  color: #414750;

  margin-left: 15px;
}
