.container {
  width: 360px;
  height: 562px;
  background: #fffffe;
  box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
